@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    background-color: #282828;
    color: #ffffff;
}

header {
    background-color: #1a1a1a;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}   

h1 {
    font-size: 24px;
}

.customized-outline-btn {
    color: #ffc107;
    border-color: #ffc107;
    background-color: transparent;
    transition: all ease-in-out 0.3s;
}

.customized-outline-btn:hover {
    color: #000;
    background-color: #ffc107;
    border-color: #ffc107;
}

.customized-btn {
    color: #fff;
    background-color: #ffc107;
    border-color: #ffc107;
    transition: all ease-in-out 0.3s;
}

.customized-btn:hover {
    background-color: #e5ad03;
    border-color: #e5ad03;
}

.customized-edit-btn {
    color: #ffc107;
    border-color: #ffc107;
    background-color: transparent;
    transition: all ease-in-out 0.3s;
}

.customized-edit-btn:hover {
    color: #000;
    background-color: #ffc107;
    border-color: #ffc107; 
}

.cutsomized-delete-btn {
    color: #dc3545;
    border-color: #dc3545;
    background-color: transparent;
    transition: all ease-in-out 0.3s;
}

.cutsomized-delete-btn:hover {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545; 
}

.container {
    padding: 30px;
}

h2 {
    color: #fff !important;
    font-size: 28px !important;
}

.fc-toolbar-title {
    color: #ffc107;
    font-weight: bold;
}

.fc-button, .fc-button-primary {
    background-color: transparent !important;
    border-color: #ffc107 !important;
    color: #ffc107 !important;
    font-weight: bold;
    transition: all ease-in-out 0.3s !important;
}

.fc-button:hover {
    color: #000 !important;
    background-color: #ffc107 !important;
    border-color: #ffc107 !important; 
}

.fc-button-primary:hover {
    color: #000 !important;
    background-color: #ffc107 !important;
    border-color: #ffc107 !important; 
}

.fc-event {
    background-color: #ffc107;
    color: #000;
    font-weight: bold;
    border: #ffc107;
    transition: all ease-in-out 0.3s;
}

.fc-event:hover {
    background-color: transparent;
    border: #ffc107;
    color: #fff;
    font-weight: bold;
}

.fc-col-header-cell-cushion {
    color: #fff !important;
    text-decoration: none !important;
    cursor: default;
}

.fc-daygrid-day-number {
    color: #fff !important;
    text-decoration: none !important;
    cursor: default;
}

.card {
    border-radius: 1rem;
    transition: all ease-in-out 0.1s;
}

.card-title {
    font-size: 1.25rem;
    font-weight: 600;
}

.card-text {
    font-size: 0.95rem;
}

.modal-content {
    border-radius: 12px;
}

.modal-header, .modal-footer {
    background-color: #1f1f1f;
}

.badge.bg-success {
    background-color: #28a745 !important;
}

.badge.bg-danger {
    background-color: #dc3545 !important;
}

@media (max-width: 576px) {
    h1, h2 {
        font-size: 1rem;
    }

    .table-responsive {
        font-size: 0.9rem;
    }

    .customized-btn-size {
        margin-right: 4px;
        display: inline-block;
        white-space: nowrap;
        font-size: 0.75rem;
        padding: 0.3rem 0.6rem;
    }

    td {
        font-size: 12px;
    }
    
    td .d-flex {
        display: flex;
        gap: 5px;
        flex-wrap: nowrap;
    }

    .modal-dialog {
        margin: 1rem;
    }

    .fc-toolbar-chunk {
        display: flex;
        flex-wrap: nowrap;
        padding: 0.1rem 0.4rem;
        font-size: 0.55rem;
        gap: 0;
    }

    .fc-prev-button, .fc-next-button, .fc-today-button, .fc-button-group, .fc-timeGridWeek-button {
        margin-right: 0;
        display: inline-block;
        white-space: nowrap;
    }

    .fc-toolbar-title {
        font-size: 0.55rem !important;
    }
}