@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    background-color: #282828;
    color: #ffffff;
}

header {
    background-color: #1a1a1a;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 24px;
}

.customized-outline-btn {
    color: #ffc107;
    border-color: #ffc107;
    background-color: transparent;
    transition: all ease-in-out 0.3s;
}

.customized-outline-btn:hover {
    color: #000;
    background-color: #ffc107;
    border-color: #ffc107;
}

.customized-outline-btn-light {
    color: #f8f9fa;                      
    background-color: transparent;       
    border: 1px solid #f8f9fa;   
    transition: all ease-in-out 0.3s;        
}

.customized-outline-btn-light:hover {
    color: #000;                         
    background-color: #f8f9fa;           
    border-color: #f8f9fa;
}